.toolbox {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.toolbox button {
    margin: 0px 5px;
}

.paginations {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.header-toolbox {
    margin: 5px 0px;
}

.alert-error {
    color: brown;
}