.toolbox {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}
.toolbox button{
    margin: 0px 5px;
}

.paginations {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.paginations input{
    margin: 0px 3px;
    width: 40px;
}